<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purchased Items</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
  <!-- Include Header -->
  <%- include('partials/header') %>
 </header>
<body>
  <section class="purchased-section">
    <h1 class="wishlist-heading">PURCHASED LIST</h1>
    <div class="purchased-items">
        <% items.forEach(item => { %>
            <div class="purchased-item">
                <img src="<%= item.image %>" alt="<%= item.name %>" class="purchased-item-image">
                <h3 class="purchased-item-name"><%= item.name %></h3>
                <div class="purchased-item-detail">
                <p class="purchased-item-date-of-arrival">Date of Arrival: </p><p class="purchased-item-date-of-arrival-input"><%= item.formattedDate %></p>
              </div>
              <div class="purchased-item-detail">
                <p class="purchased-item-purchased-by">Purchased By: </p><p class="purchased-item-purchased-by-input"><%= item.purchasedBy %></p>
              </div>
              <div class="purchased-item-detail">
                <p class="purchased-item-message">Message: </p><p class="purchased-item-message-input"><%= item.message %></p>
              </div>
                <div class="purchased-item-detail">
                <p class="purchased-item-contact">Contact: </p><p class="purchased-item-contact-input"><%= item.contact %></p>
              </div>
              </div>
        <% }); %>
    </div>
    <a href="/" class="btn-submit-purchased">Back to Wishlist</a>
  </section>
</body>
</html>
